!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => author, :name => "author"}
    %meta{:content => description, "name" => "description"}
    %meta{:content => author, :name => "og:author"}
    %meta{:content => description, "property" => "og:description"}
    %meta{:content => "https://www.robotinaponcho.net/assets/og.png", :property => "og:image"}
    %meta{:content => "#{title} (www.robotinaponcho.net)", :property => "og:title"}
    %meta{:content => "website", :property => "og:type"}
    %meta{:content => "https://www.robotinaponcho.net/notes/#{basename}", :property => "og:url"}
    %meta{:content => "initial-scale=1.0, width=device-width", "name" => "viewport"}
    :scss
      #{File.read(File.join(File.dirname(__FILE__), "template.scss"))}
    %title #{title} (www.robotinaponcho.net)
  %body
    %nav
      %a{:href => "https://www.robotinaponcho.net/"} www.robotinaponcho.net
      &rarr;
      %a{:href => "https://www.robotinaponcho.net/notes/"} <span>Damien's </span>Notes
      %hr
    = content
    %script= File.read("template.js")
